.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5rem;
    height: 100%;
}

@media only screen and (max-width: 992px) {
    .content {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
    }
}
