.content {
    display: flex;
    padding: 1rem;
    height: auto;
}
.content h1 {
    color: #ffff;
    font-family: Bebas Neue, Roboto, "Courier New", Courier, monospace;
    font-size: 3rem;
    font-weight: 100;
    margin: 0;
}
.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: auto;
    margin: 1rem;
}
.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    margin: 1rem;
}
.rating {
    color: #dfb10f;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.synopisis {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
    font-size: 1.2rem;
    text-align: justify;
    margin: 0;
}
.bookreview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .content {
        flex-direction: column;
    }
}

@media only screen and (min-width: 600px) {
    .content {
        flex-direction: column;
    }
}

@media only screen and (min-width: 768px) {
    .content {
        flex-direction: column;
    }
}

@media only screen and (min-width: 1200px) {
    .content {
        flex-direction: row;
        width: 50%;
    }  
}
